Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 116
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BreakBeforeBinaryOperators: All
AllowShortBlocksOnASingleLine: Always
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterFunction: true
  AfterStruct: false
  AfterEnum: false
IndentWidth: 4
TabWidth: 4
UseTab: Never
